.cg-menu{
  width: 100%;
  display: none;
  &--opened{
    display: block;
  }
  &__level-1{
    list-style-type: none;
    margin: auto;
    padding: 0;
    &:after, &:before{
      content: '';
      display: block;
      clear: both;
    }
  }
  &__label-1{
    display: block;
    float: left;
    font-size: 18px;
    width: 100%/8;
    background-color: @blue-light;
    color: white;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    height: 130px;
    box-sizing: border-box;
    transition: all 500ms;
    line-height: 1.2;
    cursor: pointer;
    &:hover{
      background-color: @blue-light-hover;
    }
    &:nth-child(odd){
      background-color: @blue-dark;
      &:hover{
        background-color: @blue-dark-hover;
      }
    }
    &:nth-child(2n+9){
      background-color: @blue-light;
      &:hover{
        background-color: @blue-light-hover;
      }
    }
    &:nth-child(2n+10){
      background-color: @blue-dark;
      &:hover{
        background-color: @blue-dark-hover;
      }
    }
  }
  &__close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    .bar{
      width: 27px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(45deg);
      transform-origin: 0 50%;
    }
    .bar:last-child{
      right: 0;
      left: initial;
      transform: rotate(-45deg);
      transform-origin: 100% 50%;
    }
  }
  &__level-2{
    background-color: @blue-darker;
    color: #fff;
    padding: 22px 13px 40px;
    display: none;
    position: relative;
  }
  &__submenu{
    width: 100%;
    flex-wrap: wrap;
    display: none;
    &.active{
      display: inline-flex;
    }
  }
  &__level-3{
    width: 50%;
    margin-bottom: 20px;
  }
  &__label-3{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
  }
  &__level-4{
    padding-top: 10px;
    padding-left: 40px;
  }
  &__label-4{
    display: block;

    &:before{
      @size: 8px;
      content: '';
      //position: absolute;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: -6px;
      top: -1px;
      width: @size;
      height: @size;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  &__level-5{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  &__label-5{
    display: block;
    &:before{
      @size: 6px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: -6px;
      top: -1px;
      width: @size;
      height: @size;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
  .cg-btn{
    width: 100%;
  }
}
.cg-white{
  color: #fff;
  a&{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.cg-menu-btn{
  &:extend(.cg-btn);
  display: inline-block;
  padding: 17px 12px;
  float: left;
  &__bars{
    float: left;
    vertical-align: middle;
    margin-right: 15px;
    div{
      background-color: #fff;
      width: 24px;
      height: 3px;
      margin-bottom: 5px;
      transition: all 500ms;
      &:last-child{
        margin: 0;
      }
    }
  }
  &.active &__bars{
    div:nth-child(1){
      transform: rotate(45deg) translateY(11px);
    }
    div:nth-child(2){
      opacity: 0;
      transform: translateX(-24px);
    }
    div:nth-child(3){
      transform: rotate(-45deg) translateY(-11px);
    }
  }
  &__label{
    float: right;
    vertical-align: middle;
  }
}
.clearfix{
  display: block;
  clear: both;
}